@model List<Postagem>
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">BlogLelo</h1>
    <p>Confira aqui as últimas noticias e novidades do mundo!!!</p>
</div>

<div class="conteiner">
    <div class="row row-cols-1 row-cols-sm-2 g-3">
        @foreach (Postagem postagem in Model)
        {
           <div class="col">
                <div class="card">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <img src="@postagem.Thumbnail" class="img-fluid rounded-start h-100" alt="@postagem.Nome">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@postagem.Nome</h5>
                            <p class="card-text">@postagem.Descricao</p>
                            <p class="card-text"><small class="text-body-secondary">@postagem.DataPostagem.ToString("dd/MM/yyyy")</small></p>
                            <a asp-action="Postagem">Ler Mais</a>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>        