@model Postagem
@{
    ViewData["Title"] = "Postagem";
}

<div class="container">
    <div class="row my-5">
        <!-- Postagem -->
        <div class="col-md-8">
            <article class="blog-post mb-4">
                <h2 class="blog-post-title">@Model.Nome</h2>
                <p class="blog-post-meta">
                    @Model.DataPostagem.ToString("dd 'de' MMMM 'de' yyyy")
                </p>
                <p>@Model.Descricao</p>
                <img src="@Model.Foto" class="img-fluid mb-3" alt="@Model.Nome">
                <p>@Html.Raw(Model.Texto)</p>
            </article>
        </div>
        @* Sidebar *@
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-header">Pesquisar</div>
                <div class="card-body">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Pesquisar por...">
                            <button class="btn btn-outline-secondary">
                                <i class="bi bi-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Categorias</div>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        
                        <li><a href="#" class="mb-2 text-decoration-none">Mesas Laterais</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Mesas de Jantar</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Aparadores</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Mesas de Apoio</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Mesas com Espelho</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Mesas Decorativas</a></li>
                        <br>
                        <li><a href="#" class="mb-2 text-decoration-none">Espelhos de Parede</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Espelhos com Moldura</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Espelhos Redondos</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Espelhos Retangulares</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Espelhos Modernos</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Espelhos Clássicos</a></li>
                        <br>
                        <li><a href="#" class="mb-2 text-decoration-none">Vasos de Cerâmica</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Vasos de Vidro</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Vasos de Metal</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Vasos com Plantas Artificiais</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Vasos Pequenos (para mesas)</a></li>
                        <li><a href="#" class="mb-2 text-decoration-none">Vasos Grandes (de chão)</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>